body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.grocery-list {
    text-align: left;
}
.grocery-list li {
    list-style: none;
}
.grocery-list li.completed {
    text-decoration: line-through;
}

.add-product {
    margin-left: 10px;
}
